<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | Corlate</title>

    <!-- core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css/responsive.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css/main.css') }}">
   
<body>


    <section class="window-height" id="error" style="background-image: url(static/images/404.png)">
       <div class="container">
            <h1>404</h1>
            <p>Oops! Página no encontrada</p>
            <a class="btn btn-primary" href="{{ url_for('inicio') }}">Inicio del sistema</a>
       </div>
    </section>

</body>

</html>
