{% extends 'Inicio.html' %}
{% block content %}
<div class="page-title" style="background-image: url(static/images/image.jpg)">
    <h1>Centros Religiosos</h1>
</div>
<section id="team-area">
    <div class="container">
        <div class="row">
            {% for d in data %}
            {% set urlImagenes = 'static/fotos_turismo/' %}
            <div class="col-lg-6 mb-5">
            <div class="col-md-4 col-sm-6 single-team">
                <div class="inner">
                    <div class="team-img">
                        <a   href="{{url_for('verCentro', id=d.id_Centro)}}">  <img src="{{ urlImagenes }}{{ d.imagen_Centro }}" alt="">
                    </div>
                    <div class="team-content">
                        <h4>{{d.nombre_Centro}}</h4>
                        <span class="desg">{{d.direccion_Centro}} </span>
                    </div>
                </div>
            </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
