{% extends 'Inicio.html' %}
{% block content %}
<section id="main-slider" class="no-margin">
    <div class="carousel slide" data-interval="5000" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#main-slider" data-slide-to="0" class="active"></li>
            <li data-target="#main-slider" data-slide-to="1"></li>
            <li data-target="#main-slider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">

            <div class="item active" style="background-image: url(static/images/foto.jpg)">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1">Bienvenidos a Zipaquirá.</h1>
                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="item" style="background-image: url(static/images/tres.jpg)">
            </div>
            <div class="item" style="background-image: url(static/images/perfect.jpg)">
            </div>
        </div>
    </div>
    <!--/carousel-->
    <a class="prev hidden-xs hidden-sm" href="#main-slider" data-slide="prev">
        <i class="fa fa-chevron-left"></i>
    </a>
    <a class="next hidden-xs hidden-sm" href="#main-slider" data-slide="next">
        <i class="fa fa-chevron-right"></i>
    </a>
</section>
<!--/#main-slider-->
<section id="feature">
    <div class="container">
        <div class="center fadeInDown">
            <h2>Un Poco de Historia</h2>
            <p class="lead">La gran ciudad de Zipaquirá en uno de sus mayores gestos heroicos y altruistas garantizó a los gobiernos extranjeros ayudas económicas para las campañas libertadoras de Colombia y otros países, con las rentas de la venta de la sal proveniente de las entrañas de su suelo.</p>
        </div>
        <div class="row">
            <div class="features">
                <div class="col-md-3 col-sm-4 fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <div class="icon">
                            <img  src="static/images/venezuela.png" alt="">
                        </div>
                        <h2>Venezuela</h2>
                        <p>Batalla de Carabobo que se llevó acabo el 12 de Junio de 1821 </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <div class="icon">
                            <img  src="static/images/ecuador.png" alt="">
                        </div>
                        <h2>Ecuador</h2>
                        <p>Mayo 24 de 1822 en la batalla ocurrida en Pichincha</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <div class="icon">
                            <img  src="static/images/peru.png" alt="">
                        </div>
                        <h2>Perú</h2>
                        <p>Batalla dada en Junin, el 6 de Agosto de 1824</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <div class="icon">
                            <img  src="static/images/bolivia.png" alt="">
                        </div>
                        <h2>Bolivia</h2>
                        <p> Batalla de Ayacucho, el 8 de Diciembre de 1824</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="recent-works">
    <div class="container">
        <div class="center fadeInDown">
            <h2>Conoce a Zipaquirá</h2>
            <p class="lead">Este municipio es uno de los centros de explotación de sal más importantes del país, razón por la que también es conocido como la Capital Salinera de Colombia. Observa una vista previa de las maravillas zipaquireñas.</p>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 single-work">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="static/images/Punoo.jpeg" alt="Plaza del minero">
                    <div class="overlay">
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 single-work">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="static/images/Pdos.jpeg" alt="">
                    <div class="overlay">
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 single-work">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="static/images/Ptres.jpeg" alt="">
                    <div class="overlay">
                    </div>
                </div>
            </div>          
        </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 single-work">
            <div class="recent-work-wrap">
                <img class="img-responsive" src="static/images/Pcuatro.jpeg" alt="">
                <div class="overlay">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 single-work">
            <div class="recent-work-wrap">
                <img class="img-responsive" src="static/images/Pcinco.jpeg" alt="">
                <div class="overlay">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 single-work">
            <div class="recent-work-wrap">
                <img class="img-responsive" src="static/images/Pseis.jpeg" alt="">
                <div class="overlay">
                </div>
            </div>
        </div>          
    </div>
</div>
</section>
<section id="services" class="service-item">
    <div class="container">
        <div class="center fadeInDown">
            <h2>Datos curiosos de la tierra salinera</h2>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="static/images/podium.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Campeones Mundiales </h3>
                        <p>Egan Bernal ganador del tour de Francia, competencia de ciclismo.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="static/images/novel.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Gabo estudió en Zipaquirá</h3>
                        <p>El Novel de literatura estudió en el Liceo Nacional de Varones.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="static/images/Mayor.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Dos presidentes Oriundos</h3>
                        <p> Santiago Pérez Manosalva (1874) y Gustavo Petro Urrego (2022)</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="static/images/candy.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">El Caramelito Rojo Tradición</h3>
                        <p>Dulce convencional de la ciudad desde el siglo XIX, es de origen Español.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="static/images/cake.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">La Torta Bicentenaria</h3>
                        <p>Conocida como el bizcocho mas grande de Latinoamerica.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="static/images/hoteles.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Hotel al estilo Colonial</h3>
                        <p>El mejor hotel al estilo colonial de la región (Cacique Real).</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}